 @import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');
body{
    background: rgb(169, 209, 143);
    background: linear-gradient(90deg, rgb(233, 239, 240) 0%, rgb(153, 192, 187) 37%, rgb(166, 104, 150) 100%);}
.card{
    background: rgb(193,216,177);
background: linear-gradient(90deg, rgb(89, 103, 79) 0%, rgb(124, 205, 197) 28%, rgb(231, 227, 222) 100%);
}
h1,#search,#reset{
    font-family: 'Prata', serif;
}
p,h5,h3{
    font-family: 'Aclonica', sans-serif;
}
